<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>OpenGym</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>OpenGym needs access to read your heart rate and active energy during workouts.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>OpenGym needs access to save your workouts to Apple Health.</string>
</dict>
</plist>
